<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
    </configSections>

    <modules>
        <module assemblyFile="Wpf.DataBinding.dll" moduleType="Wpf.DataBinding.DataBindingModule, Wpf.DataBinding" moduleName="DataBindingModule" />
        <module assemblyFile="Wpf.Validation.dll" moduleType="Wpf.Validation.ValidationModule, Wpf.Validation" moduleName="ValidationModule" />
        <module assemblyFile="Wpf.Commands.dll" moduleType="Wpf.Commands.CommandsModule, Wpf.Commands" moduleName="CommandsModule" />
        <module assemblyFile="Wpf.Mvvm.dll" moduleType="Wpf.Mvvm.MvvmModule, Wpf.Mvvm" moduleName="MvvmModule" />
        <module assemblyFile="Wpf.Navigation.dll" moduleType="Wpf.Navigation.NavigationModule, Wpf.Navigation" moduleName="NavigationModule" />
        <module assemblyFile="Wpf.Presentation.dll" moduleType="Wpf.Presentation.PresentationModule, Wpf.Presentation" moduleName="PresentationModule" />
    </modules>
</configuration>
